@charset "UTF-8";

@import 'reset';
@import 'mixin';
@import 'typo';
@import 'variable';
@import 'layout';
@import 'keyframes';

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--lightGray);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--mainColor);
    opacity: 0.3;
}

::selection {
    background: var(--black);
    color: var(--white);
}
