@charset "UTF-8";

@import 'variable';
@import 'mixin';

body {
    overflow: hidden;
}

h1,
h2,
h3 {
    @include fontType1;
}

#wrap {
    width: 100%;
    height: 100%;
    // height: var(--vh100);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#header {
    width: 100%;
    position: relative;
    border-bottom: 1px solid var(--lightGray);
    background: var(--white);
    @include fixed(top 0 left 0);
    .scroll-indicator {
        height: 0.4rem;
        background: var(--lightGray);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        > span {
            width: 0;
            display: inline-block;
            vertical-align: top;
            height: 0.4rem;
            @include absolute(top 0 left 0);
            background: var(--gray);
            transition: 0.2s;
        }
    }
    .header-inner {
        height: 6rem;
        padding: 0 4rem;
        @include flex(center, space-between);
        h1 {
            > a {
                display: block;
                width: fit-content;
                font-size: 1.8rem;
                position: relative;
                padding-right: 2rem;
                &::first-letter {
                    color: var(--mainColor);
                }
                i {
                    display: inline-block;
                    width: 0.5rem;
                    height: 0.5rem;
                    background: var(--mainColor);
                    border-radius: 100%;
                    right: 1rem;
                    top: 1.7rem;
                    animation: logoAnimation 1s;
                    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
                    animation-delay: 14s;
                    position: absolute;
                    transform: translateY(0);
                    &:after {
                        @include pseudo;
                        width: 0.5rem;
                        height: 0.5rem;
                        background: var(--white);
                        right: 0;
                        top: 0;
                        opacity: 0;
                        animation: dotOpacity 1.2s ease-in-out 16s infinite;
                    }
                }
            }
        }
        nav {
            position: relative;
            > ul {
                display: flex;
                height: 6rem;
                width: max-content;
                > li {
                    min-width: 10rem;
                    > a {
                        display: block;
                        text-align: center;
                        padding: 0 2rem;
                        height: 100%;
                        line-height: 6rem;
                        font-size: 1.6rem;
                        // font-weight: 700;
                        color: var(--gray);
                        transition: 0.3s;
                        @include fontType1;
                    }
                    &.is-on {
                        > a {
                            color: var(--mainColor);
                        }
                    }
                }
            }
            .line-bottom {
                height: 3px;
                @include absolute(bottom 0 left 0);
                overflow: hidden;
                > span {
                    display: inline-block;
                    width: 2rem;
                    height: 100%;
                    background: var(--mainColor);
                    position: absolute;
                    top: 0;
                    transform: translateX(0);
                    transition: 0.2s transform;
                    opacity: 0;
                }
            }
        }
    }
}
.nav {
    &-btn {
        width: 2.6rem;
        height: 3rem;
        position: relative;
        display: none;
        > span {
            display: inline-block;
            width: 2.6rem;
            height: 0.3rem;
            background: var(--black);
            border-radius: 1.5rem;
            vertical-align: middle;
            transition: 0.3s;
            &:before,
            &:after {
                @include pseudo;
                width: 2.6rem;
                height: 0.3rem;
                background: var(--black);
                border-radius: 0.5rem;
                left: 0;
                transition: 0.3s;
            }
            &:before {
                top: 0.5rem;
                left: -0.4rem;
            }
            &:after {
                bottom: 0.5rem;
                left: 0.4rem;
            }
        }
        &.is-on {
            > span {
                background: transparent;
                &:before {
                    top: 50%;
                    transform: rotate(45deg);
                    left: 0;
                }
                &:after {
                    top: 50%;
                    bottom: auto;
                    transform: rotate(-45deg);
                    left: 0;
                }
            }
        }
    }
    &-wrap {
        position: fixed;
        width: 100%;
        height: calc(var(--vh100) - 6rem);
        margin-top: 6.1rem;
        background: var(--white);
        padding: 2rem 4rem;
        z-index: 1;
        transform: translateX(100%);
        transition: 0.3s transform;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        > ul {
            > li {
                a {
                    font-size: 1.6rem;
                    height: 5rem;
                    display: inline-block;
                    line-height: 5rem;
                    position: relative;
                    z-index: 1;
                    padding-right: 2rem;
                    &:before {
                        @include pseudo;
                        height: 0.4rem;
                        background: var(--mainColor);
                        left: 0;
                        top: 2.3rem;
                        z-index: -1;
                        opacity: 0.3;
                        width: 0;
                        transition: 0.2s width;
                    }
                }
                &.is-on {
                    a {
                        &:before {
                            width: 100%;
                        }
                    }
                }
            }
        }
        .contact-wrap {
            margin-top: auto;
            dl {
                font-size: 1.3rem;
                display: inline-block;
                dt,
                dd {
                    font-weight: 700;
                }
                dt {
                    margin-bottom: 1rem;
                    @include fontType1;
                    &::first-letter {
                        color: var(--mainColor);
                    }
                }
                dd,
                dd > a {
                    color: var(--gray);
                    font-weight: 400;
                }
                & + dl {
                    margin-left: 2rem;
                }
            }
        }
    }
}

#footer {
    @include fixed(bottom 0 left 0);
    width: 100%;
    height: 3.6rem;
    border-top: 1px solid var(--lightGray);
    background: var(--white);
    .footer-inner {
        padding: 0 4rem;
        @include flex(null, space-between);
        > * {
            line-height: 3.6rem;
            font-size: 1.2rem;
            color: var(--gray);
        }
        .l-right {
            > a {
                display: block;
                color: var(--gray);
                font-weight: 700;
            }
        }
    }
}

/* Button */
a,
button {
    &.btn {
        font-size: 1.2em;
        font-weight: 700;
        height: 3.2rem;
        min-width: 6rem;
        padding: 0 1rem;
        border-radius: 0.5rem;
        transition: 0.2s;
        overflow: hidden;
        position: relative;
        &:before {
            @include pseudo;
            height: 100%;
            left: 0;
            top: 0;
            z-index: -1;
            transition: 0.2s;
        }
        &[class*='bg-'] {
            color: var(--white);
            position: relative;
            &[class*='main'] {
                border: 1px solid var(--mainColor);
                &:before {
                    width: 100%;
                    background: var(--mainColor);
                }
                &:hover {
                    color: var(--mainColor);
                    &:before {
                        width: 0;
                    }
                }
            }
        }
        &[class*='line-'] {
            border-width: 1px;
            border-style: solid;
            &:before {
                width: 0;
                z-index: -1;
            }
            &[class*='main'] {
                border-color: var(--mainColor);
            }
            &[class*='black'] {
                border-color: var(--black);
                &:before {
                    background: var(--black);
                }
                &:hover {
                    color: var(--white);
                    &:before {
                        width: 100%;
                    }
                }
            }
        }
    }
}
.btn-wrap {
    @include flex;
    width: 100%;
}
.btn-top {
    @include fixed(bottom 5rem right 4rem);
    background: var(--mainColor);
    width: 5.5rem;
    height: 5.5rem;
    transition: 0.3s;
    opacity: 0;
    border-radius: 0.5rem;
    border: 1px solid var(--mainColor);
    > i {
        display: inline-block;
        width: 1.6rem;
        height: 1.6rem;
        transform: rotate(45deg);
        position: relative;
        top: 0.6rem;
        &:before,
        &:after {
            @include pseudo;
            background: var(--white);
            border-radius: 3rem;
            width: 1.6rem;
            height: 0.4rem;
        }
        &:after {
            transform: rotate(-90deg);
            left: -7px;
            top: 7px;
        }
    }
    &:hover {
        background: var(--white);
        > i {
            &:before,
            &:after {
                background: var(--mainColor);
            }
        }
    }
}

/* popup */
.popup-dimmed {
    width: 100vw;
    height: var(--vh100);
    @include fixed(top 0 left 0);
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: 0.4s;
    &.is-show {
        opacity: 1;
        z-index: 5;
    }
}
.popup {
    @include absolute(top 0 left 0 right 0 bottom 0);
    margin: auto;
    max-width: 800px;
    height: fit-content;
    background: var(--white);
    border-radius: 1.5rem;
    // overflow: hidden;
    width: calc(100% - 4rem);
    opacity: 0;
    transform: scale(0);
    transition: 0.5s;
    padding: 2rem;
    z-index: 0;
    filter: drop-shadow(0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.1));
    &-head {
        font-size: 2rem;
        padding: 0 3rem 2rem 0;
        border-bottom: 1px solid var(--lightGray);
        // margin-bottom: 2rem;
        font-weight: 700;
        > span {
            display: inline-block;
            margin-left: 1rem;
            color: var(--gray);
            font-size: 1.4rem;
            font-weight: 400;
        }
    }
    &-body {
        display: flex;
        flex-direction: column;
        height: 100%;
        min-height: 20rem;
        max-height: 65rem;
        padding-top: 2rem;
        p:not(.popup-tit) {
            font-size: 1.6rem;
            line-height: 1.6;
        }
        .btn-wrap {
            margin-top: 3rem;
        }
    }
    &-btn-close {
        width: 2.6rem;
        height: 2.6rem;
        @include absolute(top 2rem right 2rem);
        &:before,
        &:after {
            content: '';
            width: 2.6rem;
            height: 0.4rem;
            background: var(--black);
            @include absolute(left 50% top 1rem);
            margin-left: -1.3rem;
            border-radius: 0.5rem;
        }
        &:before {
            transform: rotate(45deg);
        }
        &:after {
            transform: rotate(-45deg);
        }
    }
    &-tool {
        display: flex;
        font-size: 1.4rem;
        margin-bottom: 2rem;
        > li {
            background: var(--lightGray);
            padding: 0.8rem 1.5rem;
            border-radius: 0.5rem;
            & + li {
                margin-left: 1rem;
            }
        }
    }
    &.is-show {
        transform: scale(1);
        opacity: 1;
        z-index: 10;
    }
    .tit-no {
        padding-top: 4rem;
        > p {
            // padding-top: 4rem;
            text-align: center;
        }
        // .btn-wrap {
        //     margin-top: auto;
        // }
    }
    .do-list {
        margin-top: 2rem;
        > li {
            font-size: 1.4rem;
            padding-left: 2rem;
            position: relative;
            color: var(--gray);
            &:before {
                content: '';
                width: 0.4rem;
                height: 0.4rem;
                border-radius: 100%;
                background: var(--gray);
                @include absolute(top 50% left 0.5rem);
                margin-top: -2px;
            }
            & + li {
                margin-top: 1rem;
            }
        }
    }
    .project-wrap {
        margin-top: 3rem;
        overflow-x: auto;
        overflow-y: hidden;
        &::-webkit-scrollbar {
            height: 5px;
        }
        > div {
            width: fit-content;
            display: flex;
            flex-wrap: nowrap;
            gap: 0 1rem;
            a {
                display: block;
                width: 10rem;
                height: 10rem;
                background: rgba(0, 0, 0, 0.2);
                position: relative;
                transition: 0.3s;
                overflow: hidden;
                > img {
                    width: 10rem;
                    height: auto;
                    @include absolute(top 50%);
                    transform: translateY(-50%);
                }
                > span {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transition: 0.3s;
                    height: 100%;
                    transform: translateY(10rem);
                    background: rgba(79, 32, 250, 0);
                }
                &:hover {
                    background: rgba(0, 0, 0, 0.6);
                    color: var(--white);
                    > span {
                        transform: translateY(0);
                        background: rgba(79, 32, 250, 0.6);
                    }
                }
            }
        }
    }
}
.now {
    line-height: inherit;
    * {
        display: inline-block;
    }
    .day-night {
        margin: 0 0.5rem;
    }
}
.text-side {
    @include fixed(right 2rem top 9rem);
    writing-mode: vertical-rl;
    font-size: 1rem;
    line-height: 1.6;
    text-transform: uppercase;
    letter-spacing: 0.6rem;
}

// .mode-dark {
//     #header {
//         border-color: darken($dark, 20%);
//         .header-inner {
//             background: var(--dark);
//             h1 {
//                 > a {
//                     color: var(--white);
//                     i {
//                         &:after {
//                             background: var(--dark);
//                         }
//                     }
//                 }
//             }
//         }
//     }
//     .container {
//         background: rgba(20, 33, 61, 0.2);
//     }
//     .text-side {
//         color: var(--lightGray);
//     }
//     #footer {
//         background: var(--dark);
//     }
// }
