@charset "UTF-8";

@import 'variable';
@import 'mixin';

@media all and (min-width: 691px) {
    .nav-wrap {
        transform: translateX(100%) !important;
    }
}

@media all and (max-width: 690px) {
    html {
        font-size: 9px;
    }
    #cursor {
        display: none;
    }
    #header {
        .header-inner {
            padding: 0 2rem;
        }
        nav {
            display: none;
        }
        .now {
            display: none;
        }
        .nav-btn {
            display: block;
        }
    }
    .nav-wrap {
        padding: 2rem 2rem 4rem;
    }
    .container {
        padding: 2rem 4rem 2rem 2rem;
    }
    #footer {
        .footer-inner {
            padding: 0 2rem;
        }
    }

    .intro {
        .flex-box {
            .text-greeting {
                font-size: 4rem;
                > h1 {
                    display: block;
                    height: 6rem;
                }
            }
            .tag-list {
                width: 100% !important;
            }
        }
    }
    .about {
        .flex-box {
            .info-wrap {
                width: 100%;
            }
        }
        .img-wrap {
            display: none;
        }
    }
    .skills {
        .flex-box {
            .list-set {
                width: 100% !important;
            }
        }
    }
}

@media all and (max-width: 420px) {
    .popup {
        &-body {
            max-height: 40rem;
        }
    }
}
