@charset "UTF-8";

@import 'variable';
@import 'mixin';

@media all and (min-width: 691px) {
    .nav-wrap {
        transform: translateX(100%) !important;
    }
}

@media all and (max-width: 690px) {
    #header {
        .header-inner {
            padding: 0 2rem;
        }
        nav {
            display: none;
        }
        .now {
            display: none;
        }
        .nav-btn {
            display: block;
        }
    }
    .nav-wrap {
        padding: 2rem 2rem 4rem;
    }
    .container {
        padding: 2rem 4rem 2rem 2rem;
    }
    #footer {
        .footer-inner {
            padding: 0 2rem;
        }
    }
}
