@charset "UTF-8";

@import 'variable';
@import 'mixin';

@media all and (min-width: 691px) {
    .nav-wrap {
        transform: translateX(100%) !important;
    }
}

@media all and (max-width: 690px) {
    html {
        font-size: 9px;
    }
    #cursor {
        display: none;
    }
    #header {
        .header-inner {
            padding: 0 2rem;
        }
        nav {
            display: none;
        }
        .now {
            display: none;
        }
        .nav-btn {
            display: block;
        }
    }
    .nav-wrap {
        padding: 2rem 2rem 4rem;
    }
    #footer {
        .footer-inner {
            padding: 0 2rem;
        }
    }
    .text-side {
        right: 1rem;
        top: 10rem;
    }
    .section {
        padding: 4rem 2rem;
        min-height: auto;
    }
    .intro {
        .text {
            &-desc {
                font-size: 1.8rem;
                margin-top: 3rem;
            }
            &-greeting {
                font-size: 5rem;
                line-height: 1.6;
                > h1 {
                    display: block;
                    height: 5rem;
                }
                > br {
                    display: none;
                }
            }
        }
        .tag-list {
            width: 100% !important;
        }
    }
    .about {
        .flex-box {
            .info-wrap {
                width: 100%;
            }
            .info-detail {
                width: 100%;
            }
        }
        // .img-wrap {
        //     display: none;
        // }
    }
    .skills {
        .flex-box {
            .list-set {
                width: 100% !important;
            }
        }
    }
    .tab-menu {
        > button {
            &:hover {
                background: inherit;
                border-color: var(--mainColor);
                color: var(--mainColor);
            }
        }
    }
    #popupIntro {
        p {
            br {
                display: none;
            }
        }
    }
    #popupModule {
        .tab-menu {
            overflow-x: auto;
            &::-webkit-scrollbar {
                // display: none;
                height: 0.5rem;
            }
        }
    }
}

@media all and (max-width: 420px) {
    .popup {
        &-body {
            max-height: 40rem;
        }
    }
}
