@charset "UTF-8";

// html 폰트 사이즈 리셋
$htmlFz: 10px;

// 본문 행간 비율
$baseLine: $htmlFz * 1.4;

// color
$white: #fff;
$black: #222;
$mainColor: rgb(248, 63, 63);
$gray: #999;
$lightGray: #efefef;

// 기타 요소
$vh100: calc(var(--vh) * 100);

:root {
    --vh100: #{$vh100};
    --white: #{$white};
    --black: #{$black};
    --mainColor: #{$mainColor};
    --gray: #{$gray};
    --lightGray: #{$lightGray};
}
