@charset "UTF-8";

@import 'base';

#cursor {
    width: 1rem;
    height: 1rem;
    background: var(--mainColor);
    border-radius: 100%;
    position: absolute;
    z-index: 100;
    transition: 0.5s filter;
    mix-blend-mode: exclusion;
    &.is-hover {
        // filter: hue-rotate(100deg);
        width: 1.5rem;
        height: 1.5rem;
    }
}

#introLayer {
    width: 100%;
    height: var(--vh100);
    @include fixed(top 0 left 0);
    background: var(--black);
    z-index: 20;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    @include fontType1;
    display: none;
    .intro-text {
        font-size: 4rem;
        color: var(--white);
        position: relative;
        &-dot {
            width: 1rem;
            height: 1rem;
            display: inline-block;
            background: var(--mainColor);
            border-radius: 100%;
            position: absolute;
            top: calc(50% + 1.5rem);
            left: calc(50% + 18.5rem);
            opacity: 1;
            animation: dotMove 6s;
            &:after {
                @include pseudo;
                width: 1rem;
                height: 1rem;
                background: var(--black);
                opacity: 0;
                animation: dotOpacity 1.2s ease-in-out 6s infinite;
            }
        }
    }
}

.container {
    overflow-x: hidden;
    overflow-y: auto;
    // padding: 0 4rem;
    margin-top: 6.1rem;
    height: calc(var(--vh100) - 6rem - 3.6rem);
    position: relative;
    // scroll-padding-top: 2rem;
    // scroll-snap-type: y mandatory;
    .container-bg {
        position: fixed;
        width: calc(100vw - 9rem);
        height: calc(var(--vh100) - 13.6rem);
        z-index: -1;
        @include flex;
        .circle {
            width: 140vh;
            height: 140vh;
            border-radius: 100%;
            filter: blur(12rem) hue-rotate(10deg);
            // filter: hue-rotate(10deg);
            @include absolute(left 0 right 0 top 0 bottom 0);
            transition: 0.3s transform;
            &.bg1 {
                background: rgb(211, 234, 254);
                background: linear-gradient(
                    322deg,
                    rgba(211, 234, 254, 0.5) 0%,
                    rgba(118, 233, 192, 0.5) 27%,
                    rgba(29, 115, 255, 0.4) 77%,
                    rgba(129, 181, 255, 0.5) 100%
                );
                margin: auto;
                animation: circleRotate 10s infinite ease-in-out;
            }
            &.bg2 {
                background: rgb(255, 255, 255);
                background: linear-gradient(
                    322deg,
                    rgba(255, 255, 255, 0.5) 0%,
                    rgba(254, 239, 155, 0.5) 30%,
                    rgba(252, 71, 71, 0.3) 77%,
                    rgba(255, 234, 234, 0.5) 100%
                );
                margin: auto;
                animation: circleRotate 12s infinite ease-in-out 6s reverse;
            }
        }
    }
}
.section {
    width: 100%;
    min-height: calc(var(--vh100) - 9.6rem);
    max-width: 108rem;
    display: flex;
    flex-direction: column;
    // scroll-snap-align: start;
    // scroll-snap-stop: normal;
    padding: 4rem 2rem;
    margin: 0 auto;
    &.vertical-center {
        justify-content: center;
    }
    h2 {
        font-size: 3rem;
    }
    .center {
        text-align: center;
    }
}
.shake {
    display: inline-block;
    &.is-active {
        animation: shake 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
}
.text {
    &-sub {
        display: inline-block;
        font-size: 2rem;
        margin-top: 1rem;
        text-align: left;
        position: relative;
        &:before {
            @include pseudo;
            width: 100%;
            height: 1.5rem;
            background: lighten($mainColor, 35%);
            // background: var(--lightGreen);
            z-index: -1;
            bottom: 0.4rem;
        }
    }
    &-desc {
        font-size: 2rem;
        line-height: 1.6;
        // margin-top: 5rem;
        word-break: keep-all;
        // > strong {
        //     color: var(--mainColor);
        //     filter: drop-shadow(2px 2px 0px rgba(255, 255, 255, 0.8));
        //     padding-right: 0.2rem;
        // }
        > em {
            color: #fff;
            padding: 0 0.2rem 0.1rem;
            position: relative;
            &:before {
                content: '';
                display: inline-block;
                width: 100%;
                height: 2rem;
                background: var(--mainColor);
                @include absolute(bottom 0.2rem left 0);
                z-index: -1;
            }
        }
    }
}
[paralle] {
    position: relative;
}
[data-tooltip] {
    position: relative;
    cursor: pointer;
    > span {
        display: block;
        position: absolute;
        backdrop-filter: blur(3px);
        background: darken($mainColor, 10%);
        color: var(--white);
        font-size: 1.4rem;
        top: -4.2rem;
        left: 50%;
        transform: translateX(-50%);
        padding: 0.8rem 1rem;
        border-radius: 0.5rem;
        width: max-content;
        display: none;
        z-index: 5;
        &:after {
            @include pseudo;
            width: 0;
            height: 0;
            border-bottom: 0.8rem solid transparent;
            border-left: 0.6rem solid transparent;
            border-right: 0.6rem solid transparent;
            border-top: 0.8rem solid darken($mainColor, 10%);
            bottom: -1.4rem;
            left: 50%;
            margin-left: -0.6rem;
        }
    }
}
.tag-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    // margin-top: 5rem;
    // justify-content: center;
    > li {
        font-size: 1.4rem;
        background: var(--black);
        color: var(--white);
        padding: 0.8rem 1rem;
        border-radius: 5rem;
        border: 1px solid var(--black);
        cursor: pointer;
        line-height: 1;
        transition: 0.1s;
        &:before {
            content: '{ ';
        }
        &:after {
            content: ' }';
        }
        &:hover {
            color: var(--black);
            background: var(--white);
        }
    }
}

.flex-box {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-between;
}
// .skills {
//     scroll-snap-align: initial;
//     scroll-snap-stop: unset;
//     .flex-box {
//         margin-top: 2rem;
//     }
//     .list-set {

//         &.is-on {
//             display: block;
//         }
//     }
// }
.list-set {
    background: var(--lightGray);
    padding: 2rem 0;
    border-radius: 1rem;
    transition: 0.2s;
    will-change: filter;
    width: 100%;
    margin-bottom: 2rem;
    dt,
    dd {
        padding: 1rem 2rem;
    }
    dt {
        font-size: 1.8rem;
        border-bottom: 1px double var(--gray);
        border-width: 0.3rem;
        @include fontType1;
        font-weight: 700;
        small {
            font-size: 1.2rem;
            margin-left: 1rem;
            color: var(--gray);
            opacity: 0.5;
            font-weight: 400;
        }
    }
    dd {
        font-size: 1.6rem;
        border-bottom: 1px solid var(--white);
        line-height: 1.4;
        word-break: keep-all;
        mark {
            background: var(--skyBlue);
            display: inline-block;
        }
        [data-tooltip] {
            border-bottom: 1px dashed var(--gray);
        }
    }
    &:last-of-type {
        margin-bottom: 0;
    }
    // &:hover {
    //     will-change: filter;
    //     filter: drop-shadow(0.6rem 0.3rem 0.45rem rgba(0, 0, 0, 0.3));
    // }
}

.intro {
    justify-content: center;
    .flex-box {
        align-items: center;
    }
    .tag-list {
        margin-top: 5rem;
    }
    .text {
        &-sub {
            @include fontType1;
            margin-bottom: 2rem;
        }
        &-desc {
            margin-top: 5rem;
        }
    }
    .text-greeting {
        font-size: 6rem;
        @include fontType1;
        line-height: 1.4;
        > h1 {
            display: inline;
            height: 6rem;
            overflow: hidden;
            color: darken($mainColor, 10%);
            line-height: 1;
            position: relative;
            span {
                animation: mainTitle 0.5s ease-in;
                display: inline-block;
                line-height: 1;
                filter: drop-shadow(0.5rem 0.5rem 0 var(--subPointColor));
            }
            @for $i from 1 to 15 {
                > span:nth-child(#{$i}) {
                    animation-delay: ($i * 0.06s) - 0.06s;
                }
            }
        }
    }
}
.about {
    justify-content: center;
    .flex-box {
        align-items: stretch;
    }
    // .img-wrap {
    //     width: 32rem;
    //     overflow: hidden;
    //     > img {
    //         object-fit: cover;
    //         width: 100%;
    //         height: 100%;
    //     }
    // }
    .name {
        font-size: 3rem;
        font-weight: 700;
        letter-spacing: 1rem;
        margin-bottom: 5rem;
        line-height: 1;
        @include fontType1;
        > span {
            font-size: 1.6rem;
            letter-spacing: 0;
            position: relative;
            color: rgba(0, 0, 0, 0.4);
            display: inline-block;
            vertical-align: bottom;
        }
    }
    .info-detail {
        width: calc(50% - 1rem);
        > p {
            margin: 0 0 1rem;
            @include fontType1;
        }
        dl {
            dt,
            dd {
                margin-bottom: 1rem;
                > button {
                    margin-left: 1rem;
                    // @include textBlind;
                    border: 1px solid var(--black);
                    background: var(--gray);
                    border-radius: 5rem;
                    font-size: 1.4rem;
                    height: 2rem;
                    position: relative;
                    // &:before {
                    //     content: '+';
                    //     position: absolute;
                    //     top: 0;
                    //     left: 0;
                    // }
                }
            }
            dt {
                font-size: 1.8rem;
                font-weight: 700;
            }
            dd {
                font-size: 1.6rem;
                &:last-of-type {
                    margin-bottom: 0;
                }
            }
            & + dl {
                margin-top: 2rem;
            }
        }
    }
}

.project-wrap {
    margin-top: 3rem;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
    padding-bottom: 2rem;
    &::-webkit-scrollbar {
        height: 5px;
    }
    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: var(--black);
    }
    > div {
        width: fit-content;
        display: flex;
        flex-wrap: nowrap;
        gap: 0 1rem;
        a {
            display: block;
            width: 10rem;
            height: 10rem;
            background: rgba(0, 0, 0, 0.2);
            position: relative;
            transition: 0.3s;
            overflow: hidden;
            font-size: 1.4rem;
            > img {
                width: 10rem;
                height: auto;
                @include absolute(top 50%);
                transform: translateY(-50%);
            }
            > span {
                display: flex;
                align-items: center;
                justify-content: center;
                transition: 0.3s;
                height: 100%;
                transform: translateY(10rem);
                background: rgba(79, 32, 250, 0);
            }
            &:hover {
                background: rgba(0, 0, 0, 0.6);
                color: var(--white);
                > span {
                    transform: translateY(0);
                    background: rgba(0, 0, 0, 0.4);
                }
            }
        }
    }
}

.experience {
    width: 100vw;
    background: rgba(0, 0, 0, 0.1);
}

.pf-img {
    width: 100%;
    > img {
        width: 100%;
    }
}

.tab-menu {
    margin: 3rem 0 1rem;
    > button {
        font-size: 1.6rem;
        @include fontType1;
        border-radius: 5rem;
        padding: 0.7rem 2rem;
        border: 2px solid var(--mainColor);
        background: var(--mainColor);
        color: var(--white);
        margin: 0 0.5rem 1rem 0;
        &.is-on {
            background: var(--white);
            color: var(--mainColor);
        }
        &:hover {
            background: darken($mainColor, 10%);
            border-color: darken($mainColor, 10%);
            color: var(--white);
        }
        &:last-of-type {
            margin-right: 0;
        }
    }
}
