@import "assets/scss/typo";
@import "assets/scss/mixin";
@import "assets/scss/variable";

body {
    // overflow: hidden;
    width: 100%;
    height: 100%;
}

header {
    background: #ccc;
}

footer {
    background: #ccc;
}
