@charset "UTF-8";

#wrap {
    width: 100%;
    max-width: 1920px;
    height: calc(var(--vh, 1vh) * 100);
    text-align: center;
    position: relative;
    z-index: 1;
    margin: 0 auto;
    overflow: hidden;
    transition: 0.5s background;
}
#wrap::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.25);
    z-index: -1;
    transition: 0.3s;
}
#wrap:after {
    content: '';
    display: block;
    position: absolute;
    top: -60vh;
    left: -50vw;
    width: 175vw;
    background: linear-gradient(
        15deg,
        rgba(255, 179, 179, 0.2) 0%,
        rgba(251, 228, 183, 0.2) 12.5%,
        rgba(251, 251, 97, 0.2) 25%,
        rgba(151, 250, 86, 0.2) 37.5%,
        rgba(110, 214, 243, 0.3) 50%,
        rgba(135, 150, 236, 0.3) 62.5%,
        rgba(198, 165, 228, 0.3) 77.5%,
        rgba(221, 184, 214, 0.3) 90%,
        rgba(227, 211, 211, 0.3) 100%
    );
    filter: blur(4rem);
    z-index: -1;
    transform: rotate(-45deg);
    animation: wrapAnimation 16s alternate infinite ease-out;
}
@keyframes wrapAnimation {
    from {
        height: 0;
    }
    to {
        height: 200vh;
    }
}
.container {
    padding: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: calc(100% - 4rem);
    z-index: 1;
    color: #fff;
}
.container * {
    font-weight: 500;
}
#daynight,
#clock,
#loginForm,
#greeting,
.main-date {
    font-family: 'yg-jalnan';
}
.hidden {
    display: none;
}
.main-date {
    font-size: 2.2rem;
    margin-bottom: 1rem;
}
.time {
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
}
#daynight {
    margin-right: 2rem;
    font-size: 3.5rem;
}
#clock {
    font-weight: 700;
    font-size: 5rem;
}
#loginForm input {
    color: #fff;
    font-weight: 400;
    padding: 0.8rem;
    line-height: 1;
    font-size: 1.6rem;
}
#loginForm input[type='text'] {
    border-bottom: 1px solid #fff;
}
#loginForm input::placeholder {
    color: rgba(255, 255, 255, 0.6);
}
#loginForm input[type='submit'] {
    margin-left: 1rem;
    font-size: 1.4rem;
}
#greeting {
    font-size: 2rem;
}
.todo-box {
    margin-top: 3rem;
    font-size: 1.4rem;
    background: #222;
    /* backdrop-filter: blur(5px); */
    padding: 2rem;
    border-radius: 1rem;
    max-width: 50rem;
}
.todo-input-box {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    margin-top: 1.5rem;
}
.todo-input-box + .todo-list {
    margin-top: 2.5rem;
}
.complete-all-btn {
    width: 3rem;
    height: 3rem;
    font-size: 1.8rem;
    color: #fff;
    margin-right: 1rem;
    /* border: 1px solid #fff;
	border-radius: 100%; */
    opacity: 0.3;
}
.complete-all-btn.checked {
    opacity: 1;
}
.left-items {
    text-align: left;
    font-size: 1.8rem;
}
.left-items > span {
    color: #17ffaf;
}
.todo-input {
    width: 28rem;
    position: relative;
    color: #fff;
    padding: 0.8rem;
    border-bottom: 1px solid #fff;
    font-size: 1.6rem;
    line-height: 1;
}
.todo-input::placeholder {
    color: rgba(255, 255, 255, 0.5);
}
.todo-list .todo-item {
    display: flex;
    min-width: 300px;
}
.todo-list .todo-item + .todo-item {
    margin-top: 1.5rem;
}
.todo-list .todo-item .checkbox {
    width: 2.5rem;
    height: 2.5rem;
    vertical-align: middle;
    line-height: 2.3rem;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 100%;
    cursor: pointer;
    position: relative;
    top: 2px;
}
.todo-list .todo-item .cont {
    flex: auto;
    text-align: left;
    padding: 0 1.5rem;
    position: relative;
    width: calc(100% - 7rem);
}
.todo-list .todo-item .todo {
    /* max-width: 42rem; */
    word-break: break-all;
}
.todo-list .todo-item .date {
    display: block;
    flex: 1;
    font-size: 1.2rem;
    opacity: 0.3;
    font-weight: 300;
}
.todo-list .todo-item .edit-input {
    background: #222;
    position: absolute;
    top: -1px;
    width: calc(100% - 2rem);
    padding: 0.1rem 0;
    color: #fff;
}
.todo-list .todo-item.checked {
    opacity: 0.4;
}
.todo-list .todo-item.checked .cont {
    text-decoration: line-through;
}
.todo-list .todo-item .delBtn {
    width: 1.6rem;
    height: fit-content;
    line-height: initial;
}
.todo-bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 2.5rem;
    font-size: 1.2rem;
}
.todo-bottom button {
    border: 1px solid #fff;
    color: #fff;
    border-radius: 0.7rem;
    padding: 0 0.5rem;
    letter-spacing: -0.3px;
    font-weight: 300;
    margin-left: 1.5rem;
    opacity: 0.5;
}
.todo-bottom button:first-child {
    margin-left: 0;
}
.todo-bottom button.selected {
    border-color: #17ffaf !important;
    color: #17ffaf !important;
    opacity: 1;
}
.info {
    text-align: right;
    font-size: 1.2rem;
    font-weight: 300;
    margin-top: 2rem;
    color: #999;
}

#weather {
    position: absolute;
    top: 0;
    text-align: left;
    font-size: 1.2rem;
    width: 100%;
    text-align: center;
    background: rgba(255, 255, 255, 0.1);
    /* padding: 0.5rem 0; */
}
#weather img {
    display: inline-block;
    width: 4rem;
    height: auto;
}
#weather .city {
    font-style: italic;
}
#quote {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 1rem 0;
}
#quote > div {
    overflow: hidden;
    height: 2.2rem;
}
#quote > div + div {
    margin: 0.5rem 0 2rem;
}
#quote span {
    display: block;
    font-size: 1.52rem;
    line-height: 1.6;
}
#quote div:first-child span {
    font-style: italic;
}
#quote div:last-child span {
    font-size: 1.2rem;
    opacity: 0.7;
}
#modeSelect {
    font-size: 3rem;
    transition: 0.5s;
    position: absolute;
    right: 2rem;
    top: 6rem;
}

/* @keyframes quoteAnimation {
	from {
		transform: translateY(100%);
		opacity: 0;
	}
	to {
		transform: translateY(0);
		opacity: 1;
	}
} */

#wrap.light:before {
    background: rgba(255, 255, 255, 0.3);
}
#wrap.light .container {
    color: #222;
    border-color: #222;
}
#wrap.light #loginForm input {
    color: #222;
}
#wrap.light #loginForm input[type='text'] {
    border-color: #222;
}
#wrap.light #loginForm input[type='text']::placeholder {
    color: rgba(0, 0, 0, 0.6);
}
#wrap.light .todo-box {
    background: #fff;
    box-shadow: 2px 3px 15px 3px rgba(0, 0, 0, 0.05);
}
#wrap.light .complete-all-btn {
    color: #222;
}
#wrap.light .todo-list .todo-item .edit-input {
    background: #fff;
    color: #222;
}
#wrap.light #weather {
    color: #222;
    background: rgba(0, 0, 0, 0.05);
}
#wrap.light .todo-input {
    color: rgba(0, 0, 0, 1);
    border-color: #222;
}
#wrap.light .todo-input::placeholder {
    color: rgba(0, 0, 0, 0.5);
}
#wrap.light .todo-list .todo-item .checkbox {
    border-color: rgba(0, 0, 0, 0.4);
}
#wrap.light .todo-bottom button {
    color: #222;
    border-color: #222;
}
/* 
#wrap.light #todoForm > input::placeholder {
	color: rgba(0, 0, 0, 0.5);
}
#wrap.light #todoList > li input[type="checkbox"] + label:before {
	border-color: rgba(0, 0, 0, 1);
} */

@media all and (max-width: 560px) {
    #weather {
        padding: 1rem 1rem 1.5rem;
    }
    #weather img {
        width: 3rem;
    }
    #weather .city {
        display: block;
        margin-top: -0.5rem;
    }
    #modeSelect {
        top: 8rem;
    }
}
