@charset "UTF-8";

// html 폰트 사이즈 리셋
$htmlFz: 10px;

// 본문 행간 비율
$baseLine: $htmlFz * 1.4;

// color
$white: #fff;
$black: #222;
$mainColor: #00c73c;
$gray: #999;
$lightGray: rgb(239, 239, 239);
$lightMainColor: #a2fbbd;
$darkenMainColor: #03862a;
$lightGreen: rgb(140, 248, 176);
$subPointColor: #fff291;
$dark: rgb(20, 33, 61);
$red: #ff3223;
$blue: #3030ef;

// 기타 요소
$vh100: calc(var(--vh) * 100);

$imgUrlKolon: './../img/kolon';
