@charset "UTF-8";

@import 'import/reset';
@import 'import/mixin';
@import 'import/typo';
@import 'import/variable';
@import 'form';
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

/* kolon 공통 s */
.blind {
    @include blind;
}
.l- {
    &right,
    &left {
        display: flex;
    }
}

/* kolon layout s */
#skipNav {
    @include blind;
}
#wrap {
    min-width: 144rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}
.product-search {
    width: 100%;
    height: 5rem;
    overflow: hidden;
    background: #fff;
}
#headerArea {
    z-index: 100;
    width: 100%;
    height: auto;
    border-bottom: 1px solid #17499d;
    @include fixed(top 0 left 0);
    transform: translateY(-5.1rem);
    transition-property: transform background-color;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    background-color: transparent;
    &.__up {
        transform: translateY(0);
    }
    &.__white {
        background-color: #fff;
        nav {
            h3 {
                > a {
                    color: #222;
                }
            }
        }
    }
}
.header {
    &-inner {
        [class*='-top'] {
            max-width: 144rem;
            width: 100%;
            margin: 0 auto;
            padding: 0 2rem;
            display: flex;
            justify-content: space-between;
            position: relative;
            &:before {
                @include pseudo;
                top: -1px;
                left: 50%;
                transform: translateX(-50%);
                z-index: -1;
                width: 100vw;
                height: calc(100% + 1px);
                background: #002f5e;
            }
        }
        .logo {
            > a {
                width: 31.7rem;
                height: 2.5rem;
                display: block;
                @include textBlind;
                margin: 4rem auto 0;
                background: url('#{$imgUrlKolon}/common/header_logo.png') no-repeat 50%;
                filter: drop-shadow(1px 2px 4px rgba(0, 0, 0, 0.2));
            }
        }
        .l-left,
        .l-right {
            a {
                font-size: 1.4rem;
                padding: 1rem 1.5rem;
                color: #fff;
                &:not(.sitemap, .login) {
                    border-right: 1px solid #00172f;
                }
            }
            li {
                & + li {
                    margin-left: 1rem;
                }
            }
            .sitemap {
                background: #00172f;
            }
            .login {
                background: #006ebc;
            }
        }
        nav {
            position: relative;
            .header-bg {
                display: block;
                width: 100%;
                background: #fff;
                @include absolute(left 0 top 7rem);
                height: 0;
                transition: 0.1s height linear;
                &.__down {
                    height: 7rem;
                    border-bottom: 1px solid var(--lightGray);
                }
            }
            > ul {
                max-width: 144rem;
                padding: 0 2rem;
                margin: 3rem auto 0;
                @include flex(null, space-around);
                > li {
                    position: relative;
                    &:after {
                        @include pseudo;
                        @include sizeSet(0.6rem, 0.6rem);
                        background: #e60012;
                        border-radius: 50%;
                        top: 0.6rem;
                        right: 0.4rem;
                        opacity: 0;
                        transition: 0.2s;
                    }
                    &:hover {
                        &:after {
                            opacity: 1;
                            top: 1.6rem;
                        }
                        .depth2 {
                            display: block;
                        }
                    }
                    &:last-of-type {
                        .depth2 {
                            left: auto;
                            right: 0;
                        }
                    }
                }
                h3 {
                    font-size: 2rem;
                    font-weight: 700;
                    > a {
                        display: block;
                        padding: 1.5rem 1.5rem 3rem;
                        color: #fff;
                    }
                }
            }
            .depth2 {
                @include absolute(top 6.9rem left 0);
                width: max-content;
                display: none;
                > li {
                    float: left;
                    &:hover {
                        a {
                            color: #006ebc;
                            &:after {
                                display: block;
                            }
                        }
                    }
                    a {
                        padding: 2.5rem 1.5rem;
                        font-size: 1.6rem;
                        display: block;
                        position: relative;
                        &:after {
                            @include pseudo;
                            width: calc(100% - 3rem);
                            height: 1px;
                            background: #006ebc;
                            bottom: 2rem;
                            display: none;
                        }
                    }
                }
            }
        }
    }
}

#footerArea {
    margin-top: auto;
    background: #2e2e2e;
    color: #fff;
    padding: 5rem 0;
    .footer {
        &-inner {
            max-width: 144rem;
            padding: 0 2rem;
            margin: 0 auto;
            flex-direction: column;
            @include flex(center, null);
        }
        &-menu {
            display: flex;
            li {
                &:first-child {
                    > a {
                        color: #fff;
                    }
                }
                & + li {
                    position: relative;
                    &:before {
                        @include pseudo;
                        @include sizeSet(1px, 1rem);
                        background: #b0b0b0;
                        left: 0;
                        top: 50%;
                        margin-top: -0.5rem;
                    }
                }
            }
            a {
                font-size: 1.4rem;
                padding: 0 2.5rem;
                color: #b0b0b0;
            }
        }
        &-logo {
            margin-top: 5rem;
        }
    }
    address {
        font-size: 1.2rem;
        color: #b0b0b0;
        text-align: center;
        margin-top: 2rem;
    }
    .family-site {
        margin-top: 3rem;
        width: 18rem;
        font-size: 1.2rem;
        position: relative;
        &.__open {
            ul {
                max-height: 20rem;
            }
        }
        > button,
        ul {
            width: 100%;
        }
        > button {
            background: #3c3c3c;
            color: #fff;
            text-align: left;
            padding: 1.5rem;
            position: relative;
            &:after {
                @include pseudo;
                @include sizeSet(1px, 4.5rem);
                background: #2e2e2e;
                top: 0;
                right: 4.5rem;
            }
            > i {
                float: right;
            }
        }
        > ul {
            @include absolute(bottom 4.5rem left 0);
            overflow: hidden;
            max-height: 0;
            transition: 0.2s linear;
            > li {
                width: 100%;
                &:hover {
                    a {
                        background: #004dad;
                    }
                }
                a {
                    display: block;
                    background: rgba(60, 60, 60, 0.8);
                    padding: 1.3rem 1.5rem;
                    font-size: 1.2rem;
                    color: #fff;
                }
            }
        }
    }
}
// CONTENT s
.container {
    min-height: 200rem;
    .inner {
        max-width: 144rem;
        padding: 0 2rem;
        position: relative;
        margin: 0 auto;
    }
    .visual {
        height: var(--vh100);
        width: 100%;
        position: relative;
        overflow: hidden;
        border-bottom-left-radius: 5rem;
        .btn-pause {
            @include absolute(bottom 3rem);
            left: calc(50% - 5rem);
            font-size: 2rem;
            color: #fff;
            z-index: 5;
            @include sizeSet(3rem, 3rem);
            background: url('#{$imgUrlKolon}/visual_pause_icon.png') 50% no-repeat;
            background-size: 100% auto;
            @include textBlind;
            &[aria-pressed='false'] {
                background-image: url('#{$imgUrlKolon}/visual_play_icon.png');
            }
        }
    }
    .bg-slide {
        height: 100%;
        .swiper-slide {
            position: relative;
            overflow: hidden;
            &.__on {
                > img {
                    animation: mainVisual 5s ease-in;
                }
                dl {
                    dt {
                        letter-spacing: 1rem;
                    }
                }
            }
            > img {
                @include positionCenter;
            }
        }
        .text-box {
            @include positionCenter;
            text-align: center;
            @include sizeSet(100%, 100%);
            dl {
                padding-top: 20rem;
                @include positionCenter;
                top: 45%;
                width: 100%;
            }
            dt {
                letter-spacing: 3rem;
                font-weight: 700;
                font-size: 6rem;
                color: #fff;
                font-family: 'Questrial', sans-serif;
                transition: 1.5s letter-spacing linear;
                span {
                    display: inline-block;
                    &:first-child {
                        &:first-letter {
                            color: #006ebc;
                        }
                    }
                    &:last-child {
                        &:first-letter {
                            color: #e60012;
                        }
                    }
                }
            }
            dd {
                font-size: 2.2rem;
                margin-top: 2rem;
                color: #fff;
            }
        }
    }
    .thumb-slide {
        @include absolute(right 0 bottom 0);
        width: 50%;
        background: rgba(0, 0, 0, 0.5);
        color: #fff;
        cursor: pointer;
        .swiper-slide {
            min-height: 10rem;
        }
        .swiper-slide-thumb-active {
            background-color: #17499d;
        }
        dl {
            padding: 2rem;
            font-size: 1.8rem;
            font-family: 'Questrial', sans-serif;
        }
        dt {
            opacity: 0.6;
        }
        dd {
            margin-top: 1rem;
        }
    }
}
.inner {
    .tit-box {
        h3 {
            font-size: 4.5rem;
            font-weight: 700;
            font-family: 'Questrial', sans-serif;
            text-transform: uppercase;
            &::first-letter {
                color: #006ebc;
            }
            > span {
                font-weight: 400;
                font-size: 2rem;
                color: #999;
                margin-left: 1.5rem;
            }
        }
        p {
            color: #999;
            font-size: 1.8rem;
            margin-top: 1.5rem;
        }
    }
}
.business {
    padding: 10rem 0;
}
.business-detail {
    margin-top: 5rem;
    display: flex;
    .item {
        width: 20%;
        padding: 4rem 3rem;
        &.__open {
            width: 40%;
        }
        &:first-of-type {
            background: url('#{$imgUrlKolon}/business_img1.jpg') 50% no-repeat;
            background-size: cover;
            &.__open {
                background-image: url('#{$imgUrlKolon}/business_img1_2.jpg');
            }
        }
        &:nth-of-type(2) {
            background: url('#{$imgUrlKolon}/business_img2.jpg') 50% no-repeat;
            background-size: cover;
            &.__open {
                background-image: url('#{$imgUrlKolon}/business_img2_2.jpg');
            }
        }
        &:nth-of-type(3) {
            background: url('#{$imgUrlKolon}/business_img3.jpg') 50% no-repeat;
            background-size: cover;
            &.__open {
                background-image: url('#{$imgUrlKolon}/business_img3_2.jpg');
            }
        }
        &:nth-of-type(4) {
            background: url('#{$imgUrlKolon}/business_img4.jpg') 50% no-repeat;
            background-size: cover;
            &.__open {
                background-image: url('#{$imgUrlKolon}/business_img4_2.jpg');
            }
        }
    }
}

/* keyframes */
@keyframes mainVisual {
    from {
        transform: translate(-50%, -50%) scale(0.95);
    }
    to {
        transform: translate(-50%, -50%) scale(1.02);
    }
}
